<div class="chatter-grid">
  <div class="chats">
    <h2 class="chats__title">CHATS</h2>
    <div
      *ngFor="let botName of botsNames; let i = index"
      (click)="selectedBot = botsNames[i]"
      class="chat-preview"
      [ngClass]="{ 'chat-preview--active': selectedBot == botsNames[i] }"
    >
      <img
        class="chat-preview__avatar"
        src="assets/img/brain.png"
        alt="Bot avatar"
      />
      <div class="chat-preview__text">
        <span class="chat-preview__botname">
          {{ botName }}
        </span>
        <p
          class="chat-preview__message"
          [ngClass]="{
            'chat-preview__message--loading': messages[botName] == undefined,
            'chat-preview__message--send-one':
              messages[botName] != undefined && messages[botName].length == 0
          }"
        >
          {{
            messages[botName] == undefined
              ? "Cargando.."
              : messages[botName].length == 0
              ? "Envie un mensaje!"
              : messages[botName][messages[botName].length - 1].body.length > 25
              ? messages[botName][messages[botName].length - 1].body.slice(
                  0,
                  25
                ) + "..."
              : messages[botName][messages[botName].length - 1].body
          }}
        </p>
      </div>
    </div>
  </div>
  <div class="chat">
    <h1 class="chat__botname">{{ selectedBot }}</h1>
    <div #messagesDiv class="messages">
      <div
        *ngFor="let message of messages[selectedBot]; let i = index"
        class="message-box"
        [ngClass]="'message-box--'.concat(message.owner | lowercase)"
      >
        <img
          class="message-box__picture"
          [ngClass]="'message-box__picture--'.concat(message.owner | lowercase)"
          [src]="
            (message.owner | lowercase) == 'bot' ? botPicture : userPicture
          "
          alt="Bot picture"
        />
        <div
          class="message-box__message message-box__message--bot"
          [ngClass]="'message-box__message--'.concat(message.owner | lowercase)"
        >
          <span> {{ message.body }}</span>
        </div>
        <a
          [ngStyle]="{
            visibility: messageBeingSent ? 'hidden' : 'visible',
            opacity: messageBeingSent ? '0' : '1'
          }"
          (click)="onSendMessage(messages[selectedBot][i].body)"
          *ngIf="(message.owner | lowercase) == 'user'"
          class="message-box__repeat-option"
          >Repetir mensaje</a
        >
      </div>
    </div>
    <input
      (keyup.enter)="onSendMessage($event.target.value)"
      class="typer"
      type="text"
      placeholder="{{
        messageBeingSent
          ? 'Waiting for response...'
          : 'Type something and hit Enter!'
      }}"
      #messageInput
      [disabled]="messageBeingSent"
    />
  </div>
</div>
