.chatter-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.chats {
  background-color: #434c57;
  color: #fff;

  max-height: 599px;
  overflow-y: auto;

  min-width: 17.5rem;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &__title {
    text-align: center;
    padding: 1rem 0;
  }
  .chat-preview {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;

    &:hover,
    &--active {
      background-color: #5d6977;
    }

    &:active {
      background-color: #72808f;
    }

    &__avatar {
      height: 4rem;
      border-radius: 50%;
      margin-right: 1.5rem;
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__botname {
      font-size: 1.7rem;
    }

    &__message {
      font-size: 1.5rem;

      &--loading {
        color: yellow;
      }

      &--send-one {
        color: springgreen;
      }
    }
  }
}

.chat {
  background-color: #f2f7f7;
  color: #888888;

  display: grid;
  grid-template-rows: auto 50rem 5rem;

  &__botname {
    text-transform: uppercase;
    justify-self: center;

    border-bottom: 2px solid rgba(187, 182, 182, 0.329);
    padding: 1rem;
  }

  .messages {
    padding: 1rem;
    overflow: auto;
    position: relative;
    bottom: 0;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    .message-box {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }

      &--user {
        flex-direction: row-reverse;
      }

      &__picture {
        height: 5rem;
        border-radius: 50%;

        &--bot {
          margin-right: 1.5rem;
        }

        &--user {
          margin-left: 1.5rem;
        }
      }

      &__message {
        box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.24);
        font-size: 1.5rem;
        padding: 1rem;
        max-width: 50%;
        word-break: break-all;

        &--bot {
          background-color: #fff;
        }

        &--user {
          margin-left: 1rem;
          background-color: #54d38a;
          color: #fff;
        }
      }

      &__repeat-option {
        cursor: pointer;
        color: rgba(136, 136, 136, 0.4);
        font-size: 1.4rem;
        transition: all 0.2s;
      }

      &:hover {
        .message-box__repeat-option {
          color: rgb(0, 137, 255);
        }
      }
    }
  }

  .typer {
    border: none;
    outline: none;
    font-size: 1.8rem;
    padding: 1.5rem 1rem;
  }
}
