<div class="admin-grid">
  <div class="brains">
    <h2 class="brains__title">BRAINS</h2>
    <div
      *ngFor="let brainName of brainsNames; let i = index"
      (click)="selectedBrain = brainsNames[i]"
      class="brain"
      [ngClass]="{ 'brain--active': selectedBrain == brainsNames[i] }"
    >
      <img
        class="brain__avatar"
        src="assets/img/brain.png"
        alt="Brain avatar"
      />
      <span class="brain__name">
        {{ brainName }}
      </span>
    </div>
  </div>
  <div class="brain-manager">
    <h1 class="brain-manager__title">Nuevo brain</h1>
    <div class="brain-manager__script">
      <div class="script__file-upload">
        <button type="button" class="btn--action" (click)="fileInput.click()">
          Seleccione un archivo .rive
        </button>
        <input
          [style.display]="'none'"
          type="file"
          accept=".rive"
          #fileInput
          (change)="onFileSelected($event.target.files[0], fileInput)"
        />
      </div>
      <!-- <div class="script__input">
        Write script here
      </div> -->
      <div
        class="script__result"
        [ngClass]="
          brainUploaded
            ? errorMessage
              ? 'script__result--error'
              : 'script__result--success'
            : ''
        "
      >
        <div class="result__title">
          <h4>
            {{
              brainUploaded
                ? errorMessage
                  ? "No se pudo crear el brain. Error:"
                  : "El brain se creó con éxito. Resultado:"
                : ""
            }}
          </h4>
        </div>
        <div class="result__body">
          {{
            brainUploaded ? (errorMessage ? errorMessage : successMessage) : ""
          }}
        </div>
      </div>
    </div>
    <div class="brain-manager__buttons">
      <!-- <button type="button" class="btn--delete">Eliminar</button>
      <button type="button" class="btn--update">Acualizar</button> -->
      <button
        (click)="onFileUpload()"
        type="button"
        [disabled]="!selectedFile"
        class="btn--create"
      >
        Crear brain
      </button>
    </div>
  </div>
</div>
