.admin-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.brains {
  background-color: #434c57;
  color: #fff;

  max-height: 599px;
  overflow-y: auto;

  min-width: 17.5rem;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &__title {
    text-align: center;
    padding: 1rem 0;
  }
  .brain {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.2s;

    &:hover,
    &--active {
      background-color: #5d6977;
    }

    &:active {
      background-color: #72808f;
    }

    &__avatar {
      margin-right: 1rem;
      height: 4.5rem;
      border-radius: 50%;
    }

    &__name {
      font-size: 1.7rem;
    }
  }
}

.brain-manager {
  background-color: #f2f7f7;
  color: #888888;

  display: grid;
  grid-template-rows: auto 47.5rem 7.5rem;

  &__title {
    justify-self: center;

    border-bottom: 2px solid rgba(187, 182, 182, 0.329);
    padding: 1rem;
  }

  &__script {
    padding: 1rem 1rem 0;
    display: grid;
    grid-template-areas:
      "file-upload file-upload"
      "result result";
    grid-gap: 1rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

button {
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 1rem;

  &.button--action {
    background-color: #172b4d;
  }

  &.button--delete {
    background-color: #f5365c;
  }

  &.button--update {
    background-color: #5e72e4;
  }

  &.button--create {
    background-color: #2dce89;
  }
}

.script {
  &__file-upload {
    grid-area: file-upload;

    display: flex;
    align-items: center;
    justify-content: center;

    button {
      font-size: 1.8rem;
    }
  }

  &__input {
    grid-area: input;
  }

  &__result {
    grid-area: result;

    display: grid;
    grid-template-areas:
      "title title"
      "body body";
    grid-template-rows: 4.2rem 21rem;

    background-color: #eaecec;

    &--success {
      background-color: rgba(45, 205, 136, 0.2);
      color: #2dce89;
    }

    &--error {
      background-color: rgba(245, 54, 92, 0.2);
      color: #f5365c;
    }
  }
}

.result {
  &__title {
    border-bottom: 1px solid currentColor;
    font-size: 1.6rem;
    padding: 1rem;
    grid-area: title;
  }

  &__body {
    grid-area: body;
    padding: 1rem;
    font-size: 1.4rem;
    word-break: break-all;
  }
}
