<div [ngClass]="{ 'about-modal': true, 'about-modal--visible': aboutIsShown }">
  <div class="about-modal__section">
    <h2>Origen del proyecto</h2>
    <p>
      Esta aplicación fue desarrollada como proyecto para el curso de Paradigmas
      de Programación - II Ciclo 2019. El objetivo principal fue aplicar
      técnicas de programación LP-FP, para desarrollar un problema computacional
      no tradicional: un compilador e interprete, de cierta parte del DSL
      Rivescript.
    </p>
  </div>
  <div class="about-modal__section">
    <h2>Autores</h2>
    <p>
      Gabriel Araya Ruiz <br />
      Esteban Zúñiga Cruz <br />
      Erick Vargas Arias <br />
      Gonzalo González Garro
    </p>
  </div>
  <div class="about-modal__section">
    <h2>Créditos</h2>
    <p>
      Carlos Loría Sáenz <br />
      Anne Ogborn
    </p>
  </div>
  <a class="about-modal__closer" (click)="aboutIsShown = !aboutIsShown">
    &uarr;
  </a>
</div>

<div [ngClass]="{ 'login-modal': true, 'login-modal--visible': !userSignedIn }">
  <h1 class="login-modal__title">Ingresar a RS-Prolog</h1>
  <input
    class="login-modal__input"
    type="text"
    #user
    placeholder="Nombre de usuario"
  />
  <input
    class="login-modal__input"
    type="text"
    #password
    placeholder="Contraseña"
  />
  <button
    class="login-modal__button"
    (click)="signUserIn(user, password)"
    type="button"
  >
    Ingresar
  </button>
</div>

<div *ngIf="userSignedIn" class="application-grid">
  <nav class="sidebar">
    <div class="user-box">
      <img
        src="assets/img/user.jpg"
        alt="User picture"
        class="user-box__avatar"
      />
      <span class="user-box__username">{{ username }}</span>
    </div>
    <a class="time">
      {{ time | date: "hh:mm:ss a" }}
    </a>
    <a (click)="aboutIsShown = !aboutIsShown" class="option">
      About
    </a>
    <a (click)="signUserOut()" class="option">
      <svg class="option__icon">
        <use xlink:href="assets/img/SVG/sprite.svg#icon-exit"></use>
      </svg>
    </a>
  </nav>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
