<div [ngClass]="{ 'about-modal': true, 'about-modal--visible': aboutIsShown }">
  <div class="about-modal__section">
    <h2>Origen del proyecto</h2>
    <p>
      Este proyecto fue desarrollado...
    </p>
  </div>
  <div class="about-modal__section">
    <h2>Autores</h2>
    <p>
      Gabriel Araya Ruiz <br />
      Esteban Zúñiga Cruz <br />
      Erick Vargas Arias <br />
      Gonzalo González Garro
    </p>
  </div>
  <div class="about-modal__section">
    <h2>Créditos</h2>
    <p>
      Por definir..
    </p>
  </div>
  <a class="about-modal__closer" (click)="aboutIsShown = !aboutIsShown">
    &uarr;
  </a>
</div>
<div class="application-grid">
  <nav class="sidebar">
    <div class="user-box">
      <img
        src="assets/img/user.jpg"
        alt="User picture"
        class="user-box__avatar"
      />
      <span class="user-box__username">User's name</span>
    </div>
    <a class="time">
      {{ time | date: "hh:mm:ss a" }}
    </a>
    <a (click)="aboutIsShown = !aboutIsShown" class="option">
      About
    </a>
    <a class="option">
      <svg class="option__icon">
        <use xlink:href="assets/img/SVG/sprite.svg#icon-exit"></use>
      </svg>
    </a>
  </nav>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
